@font-face { 
     font-family: DiceBlock;
     src: url('DiceBlock.otf');
} 
@font-face { 
    font-family: DiceBlock; font-weight: bold; 
    src: url('DiceBlock.otf');}

.button {
    height: 100px;
    width: 50px;
    background-color:bisque;
    font-size: 48px;
    
}

button:disabled,
button[disabled]{
    height: 100px;
    width: 50px;
    background-color:grey;
    font-size: 48px;
    color: white;
}

#roll2Btn {
    margin: 5px;
    height: 40px;
    width: 80px;
    background-color: green;
    color: white;
}

#roll1Btn {
    margin: 5px;
    height: 40px;
    width: 80px;
    background-color: lightgreen;
    color: black;
    display: none;
}

p {
    font-size: 50px;
}

#d1 {
    font-family: DiceBlock, sans-serif; 
    border-style: ridge;
    border-color: black;
    height: 80px;
    width: 80px;
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin-left: 10px;
    margin-top: 7px;
}
#d2 {
    font-family: DiceBlock, sans-serif; 
    border-style: ridge;
    border-color: black;
    height: 80px;
    width: 80px;
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin-left: 10px;
    margin-top: 7px;
}

#container {
    display: flex;
    margin-top: 20px;
}

.block {
    display: flex;
}

#explain {
    font-size: 15px;
}