.button {
    height: 100px;
    width: 50px;
    background-color:bisque;
    font-size: 48px;
    
}

button:disabled,
button[disabled]{
    height: 100px;
    width: 50px;
    background-color:grey;
    font-size: 48px;
    color: white;
}

#startBtn {
    margin: 40px;
    
}

